label.total {
    position: absolute;
    width: 200px;
    top: 20px;
    font-style: oblique;
    left: 40px;
    font-size: medium;
}
label {
    color: aliceblue;
}

.paging {
    position: absolute;
    left: 650px;
    display: inline-flex;
}

label.selected {
    position: relative;
    width: 200px;
    top: 50px;
    left: 40px;
    font-size: medium;
    margin-right: 30px
}

label.page-size {
    position: relative;
    font-size: medium;
    top: 35px;
}

select.page {
    position: relative;
    height: 35px;
    margin-left: 20px;
}


.pagination {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    align-content: center;
}
.previous {
    position: relative;
    width: 40px;
    height: 35px;
    top: 10px;
    background-color:aliceblue ;
}

.next {
    position: relative;
    width: 40px;
    height: 35px;
    top: 10px;
    background-color: aliceblue;
}

.pagination:hover:not(.active) {
    background-color: #ddd;
}

input.page {
    position: relative;
    width: 40px;
    height: 35px;
    top: 30px;
    text-align: center;
}