
.btn-add {
    position: absolute;
    left: 70px;
    top: 100px;
    width: 60px;
    height: 45px;
    background: transparent;
    border-color: white;

}
i.add {
    color: aliceblue;
}
i.delete {
    color: aliceblue;
}

.btn-delete {
    position: absolute;
    left: 70px;
    top: 180px;
    width: 60px;
    height: 45px;
    background-color: transparent;
    border-color: white;
}

div.home {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 120px;
    left: 0px;
}
table,
th,
td {
    border-bottom: 1px solid;
}

tr,
td {
    height: 60px;
}

input.check-delete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 37.5px;
    height: 37.5px;
    left: 186px;
    top: 291px;

}

/* table{height:400px;overflow-y:auto;width:941px; position: absolute;
    width: 941px;
    height: 400px;
    left: 185px;
    top: 281px;} */

#table_wrapper {
    position: absolute;
    background: transparent;
    border: 1px solid black;
    left: 170px;
    top: 100px;
}

#tbody {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 1024px;
    height: 500px;
    
}

table {
    position: relative;

    width: 941px;
}

td {
    padding: 1px 5px;
}

.td1 {
    width: 90px;
    left: 185px;
    top: 281px;
}

.td2 {
    width: 450px;
    left: 185px;
    top: 281px;
}

.td3 {
    width: 150px;
    left: 185px;
    top: 281px;
}

.td4 {
    float: none;
    left: 185px;
    top: 281px;
}

/* optional */
#header {
    position: relative;
    width: 100%;
    background: rgba(41,21,71,0.8);
    height: 45px;
    border-bottom: 1px white;
}

#header div {
    padding: 1px 5px;
    float: left;
    text-align: center;
    color: white;
    
}

#header #head1 {
    width: 90px;
    font-size: medium;
}

/* the same as td1 */
#header #head2 {
    width: 550px;
    font-size: medium;

}

#header #head3 {
    width: 150px;
    font-size: medium;
}


/* the same as td2 */
#header #head4 {
    float: none;
    top: 281px;
    font-size: medium;  
}

div.bottom {
    position: absolute;
    width: 100%;
    height: 100px;
    display: block;
    left: 0px;
    top: 0px;
    background-color: #34224f;
}

div.nav-bar {
    position: absolute;
    background-color: black;
    display: block;
    width: 170px;
    height: 100%;
    left: 0px;
    top: 0px;
}
