label.add-song {
    position: absolute;
    font-size: xx-large;
    top: 10px;
    left: 50px;
}
label.failed {
    position: absolute;
    left: 100px;
    top: 10px;
    color: red;
}
label.success {
    position: absolute;
    left: 100px;
    top: 10px;
    color: green;
}
div.name {
    position: absolute;
    left: 100px;
    top: 100px;
}
div.singer {
    position: absolute;
    left: 100px;
    top: 200px;
}
div.genre {
    position: absolute;
    left: 100px;
    top: 300px;
}
div.audio {
    position: absolute;
    left: 100px;
    top: 400px;
}
div.submit {
    position: absolute;
    left: 500px;
    top: 500px;
   
}
input.submit{
    border-radius: 5px 5px 5px 5px;
    width: 80px;
    height: 50px;
    background-color: aquamarine;
}
div.choose-audio {
    position: absolute;
    left: 600px;
    top: 400px;
}
.form-add {
    position: absolute;
    left: 100px;
    top: 100px;
    height: 600px;
    width: 70%;
    display: block;
    background-color: aliceblue;
}

.cancel {
    position: absolute;
    top: 500px;
    margin-left: 60px;
}
